@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');


h1, h2, h3, h4, h5, p, span {
    font-family: 'Montserrat', sans-serif;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
}
main{
    position: absolute;
}

.titleBlock{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
    border: #b3b3b3 1px solid;
}
